body {
    color: rgb(132, 6, 163);
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

footer {
    color: rgb(77, 58, 90);
    border-top: 1px solid rgb(173, 170, 170);
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    text-decoration: none;
    color: rgb(219, 63, 172);
    margin-right: 20px;
}

.potrait {
    width: 350px;
}

input {
    border: 1px solid rgb(192, 189, 189);
    padding: 10px;
}

button {
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background: rgb(30, 100, 30);
    color: white;
    padding: 10px 16px;
    margin-left: 10px;
}

button:hover {
    background: rgb(47, 156, 47);
}

.main-content #danger {
    color: red;
    font-weight: bold;
}

.main-content #message-1, #message-2 {
    color: rgb(3, 0, 5);
}